*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: sans-serif;
}
header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-color: black;
    padding: 3px 40px;
    border-bottom: 2px solid red;
}
header ul{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    text-align: center;
    gap: 30px;
    font-weight: bold;
    
}
#div1{
    text-align: center;
    color: wheat;
}
#div1 #h1{
    margin-bottom: -10px;
}
header ul li{
    padding: 5px;
}
header ul li a:hover{
    color: red;
    transition: all 0,5s;
}
header ul li a{
    color: aliceblue;
}
header #a{
    color: red;
    border: 2px solid wheat;
    border-radius: 3px;
    padding: 7px;
}
header #a:hover{
    border: 2px solid red;
    color: wheat;

}


#main1{
    background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    gap: 50px;
    padding: 50px 90px;
}
main #diva{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 2px solid red;
    padding:  30px 50px;
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.682);
}
main #diva form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 90px;
    color: white;
    background-color: black;
    margin-bottom: 60px;
}
 input{
    width: 100%;
    margin: 10px 0;
    padding: 5px;
    border-radius: 5px;
}
#bnt{
    background-color: red;
    color: white;
    font-weight: bold;
}
#bnt:hover{
    background-color: rgb(102, 11, 11);
    cursor: pointer;
}
#divb{
    text-align: center;
    margin: 10px 0;
}
#divb #h2{
    color: red;
    font-size: 50px;
}
h2{
    font-size: 30px;
}
#divb p{
    margin: 10px 0;
}
footer{
    background-color: black;
    color: wheat;
    padding: 80px;
    text-align: center;
    font-style: italic;
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}
#main3{
    background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    display: flex;
    color: white;
    gap: 10px;
    padding: 150px 90px;
}
section{
    border: 2px solid red;
    padding: 20px;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.701);
    text-align: center;
    padding: 100px 10px;
}
#main2{
    background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    height: 100%;
    display: flex;
    color: white;
    gap: 10px;
    padding: 150px 90px;
}
#foot{
    font-style: italic;
    color: black;
    text-align: center;
    background-color: grey;
}

@media (max-width:700px) {
    header{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        padding-bottom: 25px;
    }
    header ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 1px;
        margin-top: 50px;

    }
    #div1{
        border-bottom:1px solid white ;
    }
    #main1 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    main #diva{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid red;
        padding:  30px 10px;
        border-radius: 15px;
        background-color: rgba(0, 0, 0, 0.682);
    }
    #main2 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 60px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    #main3 {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        padding: 20px 5px;
        background-image: linear-gradient(rgba(0, 0, 0, 0.93),rgba(0, 0, 0, 0.807)),url("pexels-anna-nekrashevich-6802052.jpg");
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    
    
}